# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# VS Code
#
.vscode/

# Compiled files
#
/lib
/es
/browser
/examples/src/lib
/styles.css

# generated types declaration
#
/types

# test coverage report
#
coverage/

# typescript cache
#
/.typescript-compile-cache
