.clsprefix-
  &sort-arrows
    display inline-block

  &sort-arrow
    width 0
    height 0
    border-style solid
    opacity 0.5

  &sort-arrow-top
    border-width 0 4px 4px 4px
    border-color transparent transparent #000 transparent

  &sort-arrow-bottom
    margin-top 4px
    border-width 4px 4px 0 4px
    border-color #000 transparent transparent transparent

  &sort-arrow-active
    opacity 1
